<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="icon" href="data:;base64,=">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="Ribhu Mukherjee">

  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
<!-- The form -->
<form class="example" action="/custom" method="POST">
  <input type="text" name= "desiredList" placeholder="Add custom Lists.." autocomplete="off">
  <button id="go" type="submit" name="list">GO</button>
</form>